<h2>Edit Profile</h2>

<form (ngSubmit)="onSubmit()">
  <div>
    <label for="username">Username:</label>
    <input id="username" name="username" [value]="username" (input)="username" type="text">
  </div>
  <div>
    <label for="birthdate">Birthdate:</label>
    <input id="birthdate" name="birthdate" [value]="birthdate" (input)="birthdate" type="date">
  </div>
  <div>
    <label for="age">Age:</label>
    <input id="age" name="age" [value]="age" (input)="age" type="number">
  </div>
  <button type="submit">Save</button>
</form>
